{% extends 'users/base.html' %}
{% load static %}
{% comment %} <link type="text/css" rel="stylesheet" href="{% static 'dashborad/css/dashboard.css' %}"> {% endcomment %}
{% comment %} {% extends 'dashborad/base.html' %} {% endcomment %}
{% block title %}Вход{% endblock %}
{% block content %}
 <div class="wrapper">
        <main class="main">
            {% for course in courses %}
                <h1>{{ course.name }}</h1>
                {% for lecture in course.lectures.all %}
                    <h4>{{ lecture.name }}</h4>
                    <h2> {{ lecture.date }}</h2>
                    <h3> {{ lecture.teacher.firstname }} {{ lecture.teacher.lastname }}</h3>
                {% endfor %}
            {% endfor%}
            <div class="waveWrapper waveAnimation">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
                </div>
              </div>
        </main>
    </div>
    
    {% include 'calendar.html' %}
{% endblock %}
