{% extends 'users/base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
            <section class="form_auth_section">
                <div class="form__content">
                    <img class="form__content-head" id="griffon" src="../../static/users/pictures/griffon/16.png" alt=">
                    <label class="form__text wrong">{{ form.non_field_errors }}</label>
                    <form class="form__auth" action="#" method="post">
                        {% csrf_token %}
                        <div class="form__login form__item">
                            <label class="form__text" for="{{ form.username.id_for_label }}"><i class='bx bx-user'> </i> {{ form.username.label }} </label>
                            {{ form.username }}
                            <label class="form__text wrong">{{ form.username.errors }}</label>
                            <!-- Если что-то пошло не так, то используем класс wrong. -->
                        </div>
                        <div class="form__password form__item">
                            <label class="form__text" for="{{ form.password.id_for_label }}"><i class='bx bx-lock-alt' ></i> {{ form.password.label }}</label>
                            {{ form.password }}
                              <label class="form__text wrong">{{ form.password.errors }}</label>
                            <!-- Если что-то пошло не так, то используем класс wrong. -->
                            <div class="checkbox_container">
                                {{ form.remember_me }}
                                <label class="remember" for="{{ form.remember_me.id_for_label }}">{{ form.remember_me.label }}</label>
                            </div>
                            <button class="form__auth-button button" type="submit" name="form_auth_submit">Войти</button>
                            <div class="useful_links">
                                <a href="{% url 'reg' %}" class="where_account">Нет аккаунта?</a>
                                <a href="{% url 'pass-reset' %}" class="where_account">Забыли пароль?</a>
                            </div>


                        </div>
                    </form>

                    <div class="form__secret">
                        <label>Пароль</label>
                        <input type="password" name="auth_pass" placeholder="хороший пароль" required >
                        <button class="form__auth-button" type="submit" name="form_auth_submit">Войти</button>
                    </div>
                </div>
            </section>
{% endblock %}