{% extends 'users/base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% load static %}
{% block content %}
            <div class="letter">
                <div class="letter__text">
                    <h1 class="letter__title">Письмо отправлено!</h1>
                    <p class="letter__subtitle">Теперь вы со спокойной душой можете проверять свою почту</p>
                    <img class="letter__img" src="../../static/users/pictures/mirea_maskot.jpg" alt="">
                </div>
            </div>
{% endblock %}