{% extends 'users/base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
            <section class="form_auth_section">
                <div class="form__content form__content-newpassword">
                    <img class="form__content-head" id="griffon" src="../../static/users/pictures/griffon/16.png" alt=">
                    <label class="form__text wrong">{{ form.non_field_errors }}</label>
                    <form class="form__auth" action="#" method="post">
                        {% csrf_token %}
                        {% for f in form %}
                        <div class="form__password form__item">
                            <label class="form__text" for="{{ f.id_for_label }}"><i class='bx bx-lock-alt'></i> {{ f.label }}</label>
                            {{ f }}
                            <div class="form-error">{{ f.errors }}</div>
                        </div>
                        {% endfor %}
                        <div class="form__password form__item">
                            <button class="form__auth-button button" type="submit" name="form_auth_submit">Сменить пароль</button>
                            <a href="{% url 'log' %}" class="where_account">Есть аккаунт?</a>
                        </div>
                    </form>

                    <div class="form__secret">
                        <label>Пароль</label>
                        <input type="password" name="auth_pass" placeholder="хороший пароль" required >
                        <button class="form__auth-button" type="submit" name="form_auth_submit">Войти</button>
                    </div>
                </div>
            </section>
{% endblock %}