{% extends 'users/base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <div class="wrapper">
        <main class="main">

            <div class="letter">
                <div class="letter__text">
                    <h1 class="letter__title">Пароль изменен!</h1>
                    <p class="letter__subtitle">Можете возвращаться учиться :)</p>
                    <img class="letter__img" src="../../static/users/pictures/mirea_maskot.jpg" alt="">
                </div>
            </div>

            <div class="waveWrapper waveAnimation">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('../../static/users/pictures/wave-top.png')"></div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('../../static/users/pictures/wave-mid.png')"></div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('../../static/users/pictures/wave-bot.png')"></div>
                </div>
            </div>
        </main>
    </div>


{% endblock %}