{% extends 'users/base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
            <div class="letter">
                <div class="letter__text">
                    <h1 class="letter__title">Пароль изменен!</h1>
                    <p class="letter__subtitle">Можете возвращаться учиться :)</p>
                    <img class="letter__img" src="../../static/users/pictures/mirea_maskot.jpg" alt="">
                </div>
            </div>
{% endblock %}