{% extends 'users/base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<div class="wrapper">
        <main class="main">
            <section class="form_auth_section">
                <div class="form__content form__content-forgot">
                    <div class="form__content-head form__content-head-forgot">

                    </div>
                    <form class="form__auth" action="#" method="post">
                        {% csrf_token %}
                        {% for f in form %}
                        <div class="form__mail form__item">
                            <label class="form__text" for="{{ f.id_for_label }}"><i class='bx bx-envelope'></i> Новый пароль </label>
                            {{ f }}
                            <!-- <label class="form__text wrong">Почта не найдена</label>  -->
                            <!-- Если что-то пошло не так, то используем класс wrong. -->

                        </div>
                        {% endfor %}
                        <div class="form__password form__item">
                            <button class="form__auth-button button button-forgot" type="submit" name="form_auth_submit">Восстановить</button>
                            <div class="useful_links">
                                <a href="{% url 'log' %}" class="where_account">Есть аккаунт?</a>
                                <a href="{% url 'reg' %}" class="where_account">Создать аккаунт</a>
                            </div>
                        </div>
                    </form>

                    <div class="form__secret">
                        <label>Пароль</label>
                        <input type="password" name="auth_pass" placeholder="хороший пароль" required >
                        <button class="form__auth-button" type="submit" name="form_auth_submit">Войти</button>
                    </div>
                </div>
            </section>

            <div class="waveWrapper waveAnimation">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('../../static/users/pictures/wave-top.png')"></div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('../../static/users/pictures/wave-mid.png')"></div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('../../static/users/pictures/wave-bot.png')"></div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
